<header>
<ul>
    <% if(locals.user){%>

        <li><h4><a href="/users/profile"><%=user.name%></a></h4></li>
        <li><h4><a href="/users/sign-out">sign out</a></h4></li>
        <% }else{%>
            <li><h4><a href="/users/sign-in">sign in</a></h4></li>
            <li><h4><a href="/users/sign-up">sign up</a></h4></li>
        <%}%>

</ul>
</header>