<%-include('_header')%>
     
     <link rel="stylesheet" href="/css/user_profile.css">
        <h1>
            just_connect / Profile Page
        </h1>

        <p1><%=user.email%></p1>
        <p><%=user.name%></p>
        
